.navbar-brand {
    text-decoration: none; 
    float: none; 
}
.navbar-nav {
    list-style: none; 
    padding: 0; 
}

.text-uppercase {
    text-transform: uppercase; 
}
.text-center {
    text-align: center; 
  }
  .text-muted {
    color: #6c757d;
  }
