@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

 body {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #ffffcc;
            background-image: url(fructo.jpg);
            background-size: cover;
            background-position: center;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .navbar {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 10px 0;
        }

        .navbar-brand {
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;
            color: #333;
        }

        .navbar-wrapper {
            display: flex;
            justify-content: flex-end;
        }

        .navbar-nav {
            list-style: none;
            padding: 0;
            display: flex;
        }

        .navbar-nav li {
            margin-right: 20px;
        }

        .navbar-nav li:last-child {
            margin-right: 0;
        }

        .navbar-nav li a {
            font-size: 18px;
            color: #333;
            text-decoration: none;
            text-transform: uppercase;
        }

        .text-center {
            text-align: center;
        }

        .text-muted {
            color: #6c757d;
        }

        .social-icon::before {
            display: inline-block;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-style: normal;
            font-size: 1.2em;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .social-icon.facebook::before {
            content: '\f09a';
        }

        .social-icon.twitter::before {
            content: '\f099';
        }

        .social-icon.youtube::before {
            content: '\f167';
        }

        .social-icon.google::before {
            content: '\f1a0';
        }

        .divider {
            height: 2px;
            background: linear-gradient(to right, #add8e6 5%, #87ceeb 17%, #4682b4 40%, #000080 85%, #191970 95%);
        }

        footer {
            text-align: center;
            margin-top: 50px;
            color: #333;
        }

        footer ul {
            list-style-type: none;
            padding: 0;
        }

        footer ul li {
            display: inline;
            margin-right: 10px;
        }

        footer ul li a {
            color: #333;
            text-decoration: none;
        }

        /* Media queries */
        @media screen and (min-width: 768px) {
            .grid-item {
                flex-basis: calc(50% - 30px); /* Calculate width of items for 2 columns */
            }
        }

        @media screen and (min-width: 992px) {
            .grid-item {
                flex-basis: calc(33.333% - 30px); /* Calculate width of items for 3 columns */
            }
        }
@media only screen and (max-width: 600px) {
  .col {
    width: 100%; /* Змінюємо ширину колонок на 100% у мобільній версії */
    margin-left: 0; /* Встановлюємо відступ зліва на 0 */
  }
}
       /* Стилізація таблиці */
.post-container {
    background-color: rgba(255, 255, 255, 0.8); /* Напівпрозорий фон */
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

/* Вирівнювання блоків */
.post-container h3,
.post-container p,
.post-container form {
    margin-bottom: 20px;
}

/* Додаткові стилі для динамічності */
.post-container form label {
    display: block;
    margin-bottom: 5px;
}

.post-container form input[type="text"],
.post-container form input[type="email"],
.post-container form select,
.post-container form textarea,
.post-container form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post-container form input[type="submit"] {
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

.post-container form input[type="submit"]:hover {
    background-color: #cc0000;
}

        #thank-you {
            margin-top: 10px;
            font-size: 18px;
            color: green;
            display: none; /* Початково прихований */
        }
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.grid-item {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 10px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-inline {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-inline-item {
    margin-right: 10px;
}

tr:hover {
    background-color: #d3d3d3; /* Колір підсвічування при наведенні */
}
/* Додаткові стилі для беджів */
.badge {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.new {
    background-color: green;
}

.sale {
    background-color: red;
}

.sold {
    background-color: gray;
}
.product {
    position: relative;
}

.product .badge {
    position: absolute;
    top: 10px;
    right: 10px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #21ad9b; /* default color */
  padding: 10px;
  transition: color 0.3s; /* smooth color transition */
}
a:link { 
 color: orange;
}
a:visited { 
 color: blue;
}

nav ul li a:hover {
  color: #73e68f; /* hover color */
}
nav {
  cursor: pointer; 
}
a:active {
 color: rebeccapurple;
}

footer {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  text-align: center;
}
.wishlist-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px; /* Розмір значка */
    color: #ccc; /* Колір за замовчуванням */
    transition: color 0.3s; /* Плавна зміна кольору при наведенні */
}

.wishlist-btn:hover {
    color: #ff0000; /* Колір при наведенні */
}
/* Призначте стилі для навігаційних посилань у футері */
.footer-nav a {
    color: #333; /* Колір тексту посилань за замовчуванням */
    text-decoration: none; /* Вимкнення підкреслення за замовчуванням */
    transition: color 0.3s, transform 0.3s; /* Плавне зміна кольору та масштабу посилання протягом 300 мілісекунд */
    position: relative; /* Для коректної роботи анімаційного ефекту підкреслення */
}

/* Налаштування змін при наведенні курсора на посилання */
.footer-nav a:hover {
    color: #FF5733; /* Змінити колір тексту при наведенні */
    transform: scale(1.1); /* Збільшити масштаб тексту при наведенні */
}

/* Створення анімаційного ефекту підкреслення */
.footer-nav a::after {
    content: ''; /* Додати псевдоелемент після тексту посилання */
    position: absolute; /* Абсолютне позиціонування відносно батьківського елементу */
    left: 0; /* Початок лінії підкреслення на початку тексту */
    bottom: -2px; /* Відступ нижнього підкреслення */
    width: 100%; /* Ширина лінії підкреслення */
    height: 2px; /* Товщина лінії підкреслення */
    background-color: #FF5733; /* Колір лінії підкреслення */
    transition: width 0.3s; /* Плавна зміна ширини підкреслення протягом 300 мілісекунд */
}

/* Анімація розгортання підкреслення при наведенні курсора */
.footer-nav a:hover::after {
    width: 110%; /* Збільшення ширини лінії підкреслення при наведенні */
}

/* CSS для контейнера блогу */
.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Адаптивна сітка з мінімальною шириною 300px */
    gap: 20px; /* Відступ між блоками */
}

/* CSS для блоку запису блогу */
.blog-post {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Показує бургерне меню на планшетах та мобільних пристроях */
@media screen and (max-width: 425px) {
    .navbar-wrapper ul.navbar-nav {
        display: none;
    }
    .navbar-toggler {
        display: block;
    }
    .navbar-toggler .fa-bars {
        display: block;
    }
}

/* Сховати бургерне меню на більших екранах */
@media screen and (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }
}

.navbar-toggler {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar-toggler:focus {
    outline: none;
}

/* Показуємо "fa-bars" за замовчуванням */
.navbar-toggler .fa-bars {
    display: block;
}

/* Ховаємо "fa-times" за замовчуванням */
.navbar-toggler .fa-times {
    display: none;
}

/* Встановлюємо відображення "fa-times" при активному стані кнопки */
.navbar-toggler.active .fa-times {
    display: block;
}

/* Ховаємо "fa-bars" при активному стані кнопки */
.navbar-toggler.active .fa-bars {
    display: none;
}
